.title {
    display: block;
    width: 472px;
    height: 40px;
    margin: 0 auto 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #88c2e3;
}

.textarea {
    display: block;
    width: 700px;
    height: 250px;
    margin: 0 auto 10px;
}